<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wu.allen.myone" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ZhiHu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ArtDetailActivity"
            android:theme="@style/ImageTranslucentTheme">
        </activity>
        <activity
            android:name=".ui.activity.SaveArtActivity"
            android:label="@string/my_save"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/about_app"
            android:theme="@style/ImageTranslucentTheme" >
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/action_set"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.activity.QaDetailActivity"
            android:theme="@style/ImageTranslucentTheme" >
        </activity>
        <activity
            android:name=".ui.activity.CommentsActivity"
            android:label="@string/comment_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>